---
layout: page
title: Publications
---


<h3><a href="#2018" name="2018">2018</a></h3>

<p>
  Lekova, Maya; Meurer, Benedikt (2018).
  "Faster async functions and promises".
  [<a href="https://v8.dev/blog/fast-async">article</a>]
</p>


<p>
  Lekova, Maya; Meurer, Benedikt (2018).
  "holding on to your performance promises".
  <a href="http://www.nodeconf.eu">NodeConf EU 2018</a>, Kilkenny, Ireland.
  [<a href="https://slidr.io/bmeurer/holding-on-to-your-performance-promises">slides</a>]
</p>


<p>
  Meurer, Benedikt (2018).
  "Array destructuring for multi-value returns (in light of React hooks)".
  Design document.
  Chrome/V8, Google.
  [<a href="https://bit.ly/array-destructuring-for-multi-value-returns">doc</a>]
</p>


<p>
  Meurer, Benedikt (2018).
  "zero-cost async stack traces".
  Lightning talk.
  &lt;plaintext&gt; 2018 unconference, Munich, Germany.
  [<a href="https://slidr.io/bmeurer/zero-cost-async-stack-traces">slides</a>]
</p>


<p>
  Meurer, Benedikt; Guo, Yang (2018).
  "Zero-cost async stack traces".
  Design document.
  Chrome/V8, Google.
  [<a href="http://bit.ly/v8-zero-cost-async-stack-traces">doc</a>]
</p>


<p>
  Bynens, Mathias; Meurer, Benedikt (2018).
  "Die Turboloader für den Browser".
  <a href="http://t3n.de">t3n</a> Ausgabe 53.
</p>


<p>
  Grohens, Théotime; Meurer, Benedikt (2018).
  "Improving DataView performance in V8".
  [<a href="https://v8.dev/blog/dataview">article</a>]
</p>


<p>
  Meurer, Benedikt (2018).
  "JavaScript engines: a tale of types, classes, and maps".
  <a href="https://jscamp.tech">JSCamp Barcelona</a>.
  <!-- https://docs.google.com/presentation/d/1e7GtZd_uGYzsFU6gFgBWTy0MGvmy7a6rw87ooLgQ0sY -->
  [<a href="https://slidr.io/bmeurer/javascript-engines-a-tale-of-types-classes-and-maps">slides</a>]
  [<a href="https://www.youtube.com/watch?v=IFWulQnM5E0">video</a>]
</p>


<p>
  Peters, Nadja; Park, Sangyoung; Clifford, Daniel; Kyostila, Sami; McIlroy, Ross; Meurer, Benedikt; Payer, Hannes; Chakraborty, Samarjit (2018).
  "Phase-Aware Web Browser Power Management on HMP Platforms".
  ICS 2018.
</p>


<p>
  Peters, Nadja; Park, Sangyoung; Clifford, Daniel; Kyostila, Sami; McIlroy, Ross; Meurer, Benedikt; Payer, Hannes; Chakraborty, Samarjit (2018).
  "API for Power-Aware Application Design on Mobile Systems".
  MobileSoft 2018.
</p>


<p>
  Bynens, Mathias; Meurer, Benedikt (2018).
  "JavaScript engine fundamentals: Shapes and Inline Caches".
  [<a href="https://mathiasbynens.be/notes/shapes-ics">article</a>]
</p>


<p>
  Bynens, Mathias; Meurer, Benedikt (2018).
  "JavaScript engines: The Good Parts™".
  <a href="https://2018.jsconf.eu/">JSConf EU 2018</a>, Berlin, Germany.
  [<a href="https://slidr.io/mathiasbynens/javascript-engines-the-good-parts">slides</a>]
  [<a href="https://youtu.be/5nmpokoRaZI">video</a>]
</p>


<p>
  Lekova, Maya; Meurer, Benedikt (2018).
  "Holding on to your Performance Promises".
  <a href="https://github.com/nodejs/summit/issues/60">Node Collaborator Summit Berlin May 2018</a>.
  [<a href="https://docs.google.com/presentation/d/1c97oyNvt8FfTjCNkcGUkWUYopCWNBBVlunJgFnINk70">slides</a>]
</p>


<p>
  Meurer, Benedikt (2018).
  "Brave New World: Moving on to ES201X".
  <a href="http://yglf.com.ua/">You Gotta Love Frontend Conference</a>.
  [<a href="https://docs.google.com/presentation/d/1rx-aolWfz_E4DGpbw67hCPAxUMIpcrMWVoHOclnAJT8">slides</a>]
</p>


<p>
  Meurer, Benedikt (2018).
  "JavaScript: The fairly odd parts".
  <a href="http://yglf.com.ua/">You Gotta Love Frontend Conference</a>.
  [<a href="https://youtu.be/W7_RWDAesK0">video</a>]
</p>


<p>
  Bynens, Mathias; Meurer, Benedikt; Phelps, Jay; Sevcik, Jaroslav (2018).
  "S05E10 Modern Web Podcast - V8".
  <a href="https://www.moderndotweb.com/modern-web-podcast">Modern Web: The Podcast</a>.
  [<a href="https://www.youtube.com/watch?v=FEbGj6ZrQfg">podcast</a>]
</p>


<p>
  Meurer, Benedikt (2018).
  "Revision 332: Die V8 JavaScript Engine".
  <a href="https://workingdraft.de/">Working Draft</a>.
  [<a href="http://workingdraft.de/332/">podcast</a>]
</p>


<p>
  Bohn, Björn (2018).
  "Benedikt Meurer: Die Mär der JavaScript-Performance".
  <a href="https://www.heise.de/developer/">heise Developer</a>.
  [<a href="https://www.heise.de/developer/artikel/Benedikt-Meurer-Die-Maer-der-JavaScript-Performance-3988785.html">article</a>]
</p>


<p>
  Meurer, Benedikt (2018).
  "Benedikt Meurer Presents: Fun with Enumeration".
  <a href="https://twitter.com/frontmuc">Munich Frontend Devs</a> Meetup at Google Munich.
  [<a href="https://docs.google.com/presentation/d/1pqX3Zp9_W82E6eXGCFAc8G5KCRE0sTi5psuBWaespJA">slides</a>]
</p>


<p>
  Bynens, Mathias; Meurer, Benedikt (2018).
  "What’s new in ES2018?".
  <a href="https://twitter.com/frontmuc">Munich Frontend Devs</a> Meetup at Google Munich.
  [<a href="https://slidr.io/mathiasbynens/what-s-new-in-es2018">slides</a>]
</p>


<p>
  Meurer, Benedikt (2018).
  "JavaScript: The Bad Parts".
  <a href="http://www.munichjs.org">MunichJS JavaScript User Group</a> Meetup at <a href="http://financial.com">financial.com</a>, Munich.
  [<a href="https://docs.google.com/presentation/d/1mIiaFTjslqjRMmgPrtT1AqLRy-9JbumWERtVLIKL8ls">slides</a>]
</p>


<p>
  Meurer, Benedikt (2018).
  "What’s inside of TurboFan?".
  <a href="https://www.agent.sh/">AgentConf 2018</a>, Dorbirn, Austria.
  [<a href="https://docs.google.com/presentation/d/1kcb_NDzKlahXhjjtZMQsEIVeqMNrBVibO2HzOGuQ_Ag">slides</a>]
  [<a href="https://www.youtube.com/watch?v=Eowsw8XXVCQ">video</a>]
</p>


<p>
  Meurer, Benedikt (2018).
  "JavaScript: The Bad Parts".
  <a href="https://www.agent.sh/">AgentConf 2018</a>, Dorbirn, Austria.
  [<a href="https://docs.google.com/presentation/d/1n5ZvVXyItjGNBFoQFh-T04_UdOWcuOdvLC3e_udTjPQ">slides</a>]
</p>


<h3><a href="#2017" name="2017">2017</a></h3>

<p>
  Meurer, Benedikt (2017).
  "A Tale of JavaScript Performance".
  <a href="https://frontconf.com/">Munich Frontend Conference</a>, Munich, Germany.
  [<a href="https://docs.google.com/presentation/d/1NszKfRhMhtAyFifCdG4XQtqj_MED-pEKtyJcgWK0geQ">slides</a>]
</p>


<p>
  Meurer, Benedikt (2017).
  "An Introduction to Speculative Optimization in V8".
  [<a href="https://ponyfoo.com/articles/an-introduction-to-speculative-optimization-in-v8">article</a>]
</p>


<p>
  Bynens, Mathias; Meurer, Benedikt; Terlson, Brian (2017).
  "The Future of JavaScript".
  <a href="https://2017.js-kongress.de/">JSKongress</a> Conference, Munich, Germany.
  Panel discussion.
  [<a href="https://www.youtube.com/watch?v=NlcV5nYJ-UM">video</a>]
</p>


<p>
  Meurer, Benedikt (2017).
  "A Tale of TurboFan".
  <a href="https://2017.js-kongress.de/">JSKongress</a> Conference, Munich, Germany.
  [<a href="https://docs.google.com/presentation/d/1UXR1H2elTdAYJJ0Eed7lUctCVUserav9sAYSidxp8YE">slides</a>]
  [<a href="https://www.youtube.com/watch?v=cvybnv79Sek">video</a>]
</p>


<p>
  Meurer, Benedikt (2017).
  "Announcing the Web Tooling Benchmark".
  [<a href="https://v8project.blogspot.com/2017/11/web-tooling-benchmark.html">article</a>]
</p>


<p>
  Meurer, Benedikt (2017).
  "A Tale of JavaScript Performance".
  <a href="https://www.enterjs.de">enterJS</a> Conference, Darmstadt, Germany.
  [<a href="https://docs.google.com/presentation/d/1aWMIIiHqGh4rUiiSb2pdLrFFFw6KnACcAYjjZTivfgU">slides</a>]
</p>


<p>
  Meurer, Benedikt (2017).
  "ESnext Performance - Why bother?".
  <a href="https://www.webrebels.org">Web Rebels</a> Conference, Oslo, Norway.
  [<a href="https://docs.google.com/presentation/d/1DKEpAIwj9grN5UQODWo54BpdJNPVSE7soWBJTeXQq9A">slides</a>]
  [<a href="https://www.youtube.com/watch?v=733-w3E4XCY">video</a>]
</p>


<p>
  Meurer, Benedikt (2017).
  "ESnext Performance - Why bother?".
  <a href="https://www.meetup.com/Ember-js-Munich/events/239931246/">Ember Munich</a> Meetup at Google Munich.
  [<a href="https://docs.google.com/presentation/d/1KMAxrfyz-5IveFZ1_rVwXzrNZCDUv2rorsHOSipO_Ak">slides</a>]
  [<a href="https://www.youtube.com/watch?v=OPhZkETULLg">video</a>]
</p>


<p>
  Meurer, Benedikt (2017).
  "High-performance ES2015 and beyond".
  [<a href="https://v8project.blogspot.com/2017/02/high-performance-es2015-and-beyond.html">article</a>]
</p>


<p>
  Meurer, Benedikt (2017).
  "Real World Performance and the Future of JavaScript Benchmarking".
  <a href="https://dzone.com/guides/performance-optimization-and-monitoring">The DZone's Guide to Performance: Optimization and Monitoring (Volume III).</a>
</p>


<p>
  Meurer, Benedikt (2017).
  "TurboFan: A new code generation architecture for V8".
  <a href="http://www.mnug.de">Munich Node.JS User Group</a> Meetup at Google Munich.
  [<a href="https://docs.google.com/presentation/d/1_eLlVzcj94_G4r9j9d_Lj5HRKFnq6jgpuPJtnmIBs88">slides</a>]
  [<a href="https://www.youtube.com/watch?v=M1FBosB5tjM">video</a>]
</p>


<p>
  Meurer, Benedikt (2017).
  "Mission accomplished, we are fast!".
  <a href="http://www.munichjs.org">MunichJS JavaScript User Group</a> Meetup at Google Munich.
  [<a href="https://docs.google.com/presentation/d/1LgMS1pCMmcyW9KCe-QgW4JPll8y2ZVaRjvS4VoUecTU">slides</a>]
  [<a href="https://www.youtube.com/watch?v=fNzD0Jvfpfc">video</a>]
</p>


<p>
  Meurer, Benedikt (2017).
  "High-Speed ES2015".
  <a href="http://www.mnug.de">Munich Node.JS User Group</a> Meetup at Microsoft Munich.
  [<a href="https://docs.google.com/presentation/d/1wiiZeRQp8-sXDB9xXBUAGbaQaWJC84M5RNxRyQuTmhk">slides</a>]
  [<a href="https://www.youtube.com/watch?v=XBSyyxN7Q-o">video</a>]
</p>


<h3><a href="#2016" name="2016">2016</a></h3>


<p>
  Hinkelmann, Franziska; Marshall, Peter; Meurer, Benedikt (2016).
  "Great ES.next performance for the web of tomorrow".
  Google's 4th PhD Student Summit on Compiler &amp; Programming Technology.
  Round table talk.
  [<a href="https://docs.google.com/presentation/d/1GEsKOWblh1EoFK0gnOl4lTtZ-R-Jgc-IPHPzPMieEZs">slides</a>]
</p>

<p>
  Meurer, Benedikt (2016).
  "An overview of the TurboFan compiler".
  Talk at Google Munich, October 2016.
  [<a href="https://docs.google.com/presentation/d/1H1lLsbclvzyOF3IUR05ZUaZcqDxo7_-8f4yJoxdMooU">slides</a>]
</p>

<p>
  Meurer, Benedikt (2016).
  "ES2015 and beyond performance plan".
  Planning document.
  Chrome/V8, Google.
  [<a href="https://docs.google.com/document/d/1EA9EbfnydAmmU_lM8R_uEMQ-U_v4l9zulePSBkeYWmY">doc</a>]
</p>

<p>
  Meurer, Benedikt (2016).
  "Iterator builtins design document".
  Design document.
  Chrome/V8, Google.
  [<a href="https://docs.google.com/document/d/13z1fvRVpe_oEroplXEEX0a3WK94fhXorHjcOMsDmR-8">doc</a>]
</p>

<p>
  Meurer, Benedikt (2016).
  "TurboFan Inlining Heuristics".
  Design document.
  Chrome/V8, Google.
  [<a href="https://docs.google.com/document/d/1VoYBhpDhJC4VlqMXCKvae-8IGuheBGxy32EOgC2LnT8">doc</a>]
</p>

<p>
  Meurer, Benedikt; Clifford, Daniel; Payer, Hannes; Peters, Nadja; Chakraborty, Samarjit; Park, Sangyoung (2016).
  "Web Browser Workload Characterization for Power Management on HMP Platforms".
  Proceedings of the Eighth IEEE/ACM/IFIP International Conference on Hardware/Software Codesign and System Synthesis (CODES+ISSS '12), October 2016.
  <a href="https://research.google.com/pubs/pub45476.html">Abstract</a>.
  [<a href="https://research.google.com/pubs/archive/45476.pdf">pdf</a>]
</p>


<h3><a href="#2012" name="2012">2012</a></h3>

<p>
  Meurer, Benedikt (2012).
  "Introduction to Git".
  Talk at os-cillation Gmbh, May 2012.
  [<a href="/files/2012-05-11-benedikt-meurer-introduction-to-git.pdf">slides</a>]
</p>


<h3><a href="#2011" name="2011">2011</a></h3>

<p>
  Fischbach, Marcell ; Meurer, Benedikt (2011).
  "Towards a native toplevel for the OCaml language".
  Computing Research Repository (CoRR).
  Programming Languages (cs.PL); Performance (cs.PF).
  <a href="http://arxiv.org/abs/1110.1029">arXiv:1110.1029</a>.
  [<a href="http://arxiv.org/pdf/1110.1029">pdf</a>]
  [<a href="http://dblp.uni-trier.de/rec/bibtex/journals/corr/abs-1110-1029">bib</a>]
</p>

<p>
  Meurer, Benedikt (2011).
  "Blocks and Grand Central Dispatch".
  Talk held at the 2nd CocoaHeads Siegen meeting, August 2011.
  [<a href="/files/2011-08-10-benedikt-meurer-blocks-and-grand-central-dispatch.pdf">slides</a>]
</p>

<p>
  Meurer, Benedikt (2011).
  "A Step-indexed Semantic Model of Types for the Call-by-Name Lambda Calculus".
  Computing Research Repository (CoRR).
  Programming Languages (cs.PL).
  <a href="http://arxiv.org/abs/1105.1985">arXiv:1105.1985</a>.
  [<a href="http://arxiv.org/pdf/1105.1985">pdf</a>]
  [<a href="http://dblp.uni-trier.de/rec/bibtex/journals/corr/abs-1105-1985">bib</a>]
</p>


<h3><a href="#2010" name="2010">2010</a></h3>

<p>
  Meurer, Benedikt (2010).
  "Just-In-Time compilation of OCaml byte-code".
  Computing Research Repository (CoRR).
  Programming Languages (cs.PL); Performance (cs.PF).
  <a href="http://arxiv.org/abs/1011.6223">arXiv:1011.6223</a>.
  [<a href="http://arxiv.org/pdf/1011.6223">pdf</a>]
  [<a href="http://dblp.uni-trier.de/rec/bibtex/journals/corr/abs-1011-6223">bib</a>]
</p>

<p>
  Meurer, Benedikt (2010).
  "OCamlJIT 2.0 - Faster Objective Caml".
  Computing Research Repository (CoRR).
  Programming Languages (cs.PL).
  <a href="http://arxiv.org/abs/1011.1783">arXiv:1011.1783</a>.
  [<a href="http://arxiv.org/pdf/1011.1783">pdf</a>]
  [<a href="http://dblp.uni-trier.de/rec/bibtex/journals/corr/abs-1011-1783">bib</a>]
</p>


<h3><a href="#2009" name="2009">2009</a></h3>

<p>
  Meurer, Benedikt.
  "Fast garbage compaction with interior pointers".
  Unpublished.
  [<a href="/files/fast-garbage-compaction-with-interior-pointers.pdf">pdf</a>]
</p>


<h3><a href="#2008" name="2008">2008</a></h3>

<p>
  Br&uuml;ck, Rainer ; Meurer, Benedikt (2008).
  "Grundlagen und Verfahren f&uuml;r den Mikrosystementwurf".
  Institut f&uuml;r Mikrosystemtechnik, Fachbereich Elektrotechnik und Informatik, Universit&auml;t Siegen.
  Vorlesungsskript (draft).
  [<a href="/files/mse2008.pdf">pdf</a>]
</p>


<h3><a href="#2007" name="2007">2007</a></h3>

<p>
  Meurer, Benedikt (2007).
  "Theoretische Grundlagen der Objektorientierung".
  Institut f&uuml;r Theoretische Informatik, Fachbereich Mathematik, Universit&auml;t Siegen.
  Diploma thesis.
  [<a href="/files/meurer2007.pdf">pdf</a>]
  [<a href="/files/meurer2007-slides.pdf">slides</a>]
</p>

<p>
  Meurer, Benedikt (2007).
  "Theorie der Programmierung III".
  Institut f&uuml;r Theoretische Informatik, Fachbereich Mathematik, Universit&auml;t Siegen.
  Vorlesungsmitschrift.
  [<a href="/files/theorie-der-programmierung3.pdf">pdf</a>]
</p>

<p>
  Meurer, Benedikt (2007).
  "PLTL Model Checking".
  Institut f&uuml;r Theoretische Informatik, Fachbereich Mathematik, Universit&auml;t Siegen.
  Seminar.
  [<a href="/files/modelchecking2007.pdf">pdf</a>]
</p>

<p>
  Meurer, Benedikt (2007).
  "A visual tour of Xfce 4.4.0".
  <a href="/2007/01/21/a-visual-tour-of-xfce-440">Presentation</a>.
</p>


<h3><a href="#2005" name="2005">2005</a></h3>

<p>
  Meurer, Benedikt (2005).
  "A brief introduction to the Xfce Developer Tools".
  <a href="/2005/07/09/a-brief-introduction-to-the-xfce-developer-tools">Tutorial</a>.
</p>


<h3><a href="#2003" name="2003">2003</a></h3>

<p>
  Meurer, Benedikt (2003).
  "AlphaSort".
  Fachbereich Elektrotechnik und Informatik, Universit&auml;t Siegen.
  Proseminar.
  [<a href="/files/alphasort2003.pdf">slides</a>]
</p>


<h3><a href="#2002" name="2002">2002</a></h3>

<p>
  Meurer, Benedikt (2002).
  "Introduction to NetBSD loadable kernel modules".
  <a href="/2002/11/27/introduction-to-netbsd-loadable-kernel-modules">Tutorial</a>.
</p>

