<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <!-- Web App Manifest -->
  <link rel="manifest" href="/manifest.json">

  <!-- Theme color (red08 in Base16) -->
  <meta name="theme-color" content="#ac4142">

  <!-- Provide description for SEO -->
  <meta name="description" content="{{ site.description }}">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  {% if page.canonical %}
  <!-- Canonical URLs -->
  <link rel="canonical" href="{{ page.canonical }}">
  {% endif %}

  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}/css/poole.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/syntax.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/lanyon.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700%7CPT+Sans:400">

  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}/images/apple-touch-icon-precomposed.png">

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ "/feed.xml" | prepend: site.baseurl}}">

  <!-- JS -->
  <script defer src="/js/main.js"></script>
  <script defer src="/js/svgxuse.js" nomodule></script>  <!-- IE workaround for <svg><use xlink:href="..." /></svg> -->
</head>
