{% if site.mytheme.rss %}
<li>
	<a href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" title="{{ site.mytheme.str_rss_follow }}">
		<i class="fa fa-fw fa-rss"></i>
	</a>
</li>
{% endif %}

{% if site.mytheme.email_address %}
<li>
	<a href="mailto:{{ site.mytheme.email_address }}" title="{{ site.mytheme.str_email }}">
		<i class="fa fa-fw fa-envelope"></i>
	</a>
</li>
{% endif %}

{% if site.mytheme.behance %}
<li>
	<a href="https://www.behance.net/{{ site.mytheme.behance }}" title="{{ site.mytheme.str_follow_on }} Behance">
		<i class="fa fa-fw fa-behance"></i>
	</a>
</li>
{% endif %}

{% if site.mytheme.bitbucket %}
<li>
	<a href="https://bitbucket.org/{{ site.mytheme.bitbucket }}" title="{{ site.mytheme.str_follow_on }} Bitbucket">
		<i class="fa fa-fw fa-bitbucket"></i>
	</a>
</li>
{% endif %}

{% if site.mytheme.dribbble %}
<li>
	<a href="https://dribbble.com/{{ site.mytheme.dribbble }}" title="{{ site.mytheme.str_follow_on }} Dribbble">
		<i class="fa fa-fw fa-dribbble"></i>
	</a>
</li>
{% endif %}

{% if site.mytheme.facebook %}
<li>
	<a href="https://www.facebook.com/{{ site.mytheme.facebook }}" title="{{ site.mytheme.str_follow_on }} Facebook">
		<i class="fa fa-fw fa-facebook"></i>
	</a>
</li>
{% endif %}

{% if site.mytheme.flickr %}
<li>
	<a href="https://www.flickr.com/photos/{{ site.mytheme.flickr }}" title="{{ site.mytheme.str_follow_on }} Flickr">
		<i class="fa fa-fw fa-flickr"></i>
	</a>
</li>
{% endif %}

{% if site.mytheme.github %}
<li>
	<a href="https://github.com/{{ site.mytheme.github }}" title="{{ site.mytheme.str_follow_on }} GitHub">
		<i class="fa fa-fw fa-github"></i>
	</a>
</li>
{% endif %}

{% if site.mytheme.google_plus %}
<li>
	<a href="https://plus.google.com/{{ site.mytheme.google_plus }}" title="{{ site.mytheme.str_follow_on }} Google+">
		<i class="fa fa-fw fa-google-plus"></i>
	</a>
</li>
{% endif %}

{% if site.mytheme.instagram %}
<li>
	<a href="http://instagram.com/{{ site.mytheme.instagram }}" title="{{ site.mytheme.str_follow_on }} Instagram">
		<i class="fa fa-fw fa-instagram"></i>
	</a>
</li>
{% endif %}

{% if site.mytheme.linkedin %}
<li>
	<a href="{{ site.mytheme.linkedin }}" title="{{ site.mytheme.str_follow_on }} LinkedIn">
		<i class="fa fa-fw fa-linkedin"></i>
	</a>
</li>
{% endif %}

{% if site.mytheme.pinterest %}
<li>
	<a href="http://www.pinterest.com/{{ site.mytheme.pinterest }}" title="{{ site.mytheme.str_follow_on }} Pinterest">
		<i class="fa fa-fw fa-pinterest"></i>
	</a>
</li>
{% endif %}

{% if site.mytheme.reddit %}
<li>
	<a href="https://www.reddit.com/user/{{ site.mytheme.reddit }}" title="{{ site.mytheme.str_follow_on }} Reddit">
		<i class="fa fa-fw fa-reddit"></i>
	</a>
</li>
{% endif %}

{% if site.mytheme.soundcloud %}
<li>
	<a href="https://soundcloud.com/{{ site.mytheme.soundcloud }}" title="{{ site.mytheme.str_follow_on }} SoundCloud">
		<i class="fa fa-fw fa-soundcloud"></i>
	</a>
</li>
{% endif %}

{% if site.mytheme.stack_exchange %}
<li>
	<a href="{{ site.mytheme.stack_exchange }}" title="{{ site.mytheme.str_follow_on }} Stack Exchange">
		<i class="fa fa-fw fa-stack-exchange"></i>
	</a>
</li>
{% endif %}

{% if site.mytheme.steam %}
<li>
	<a href="http://steamcommunity.com/id/{{ site.mytheme.steam }}" title="{{ site.mytheme.str_follow_on }} Steam">
		<i class="fa fa-fw fa-steam"></i>
	</a>
</li>
{% endif %}

{% if site.mytheme.tumblr %}
<li>
	<a href="http://{{ site.mytheme.tumblr }}.tumblr.com/" title="{{ site.mytheme.str_follow_on }} Tumblr">
		<i class="fa fa-fw fa-tumblr"></i>
	</a>
</li>
{% endif %}

{% if site.mytheme.twitter %}
<li>
	<a href="https://twitter.com/{{ site.mytheme.twitter }}" title="{{ site.mytheme.str_follow_on }} Twitter">
		<i class="fa fa-fw fa-twitter"></i>
	</a>
</li>
{% endif %}

{% if site.mytheme.wordpress %}
<li>
	<a href="https://{{ site.mytheme.wordpress }}.wordpress.com/" title="{{ site.mytheme.str_follow_on }} WordPress">
		<i class="fa fa-fw fa-wordpress"></i>
	</a>
</li>
{% endif %}

{% if site.mytheme.youtube %}
<li>
	<a href="https://www.youtube.com/user/{{ site.mytheme.youtube }}" title="{{ site.mytheme.str_follow_on }} YouTube">
		<i class="fa fa-fw fa-youtube"></i>
	</a>
</li>
{% endif %}
