<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">
    {%- for item in sidebar.items %}
    <a class="sidebar-nav-item{% if page.url == item.url %} active{% endif %}" href="{{ item.url }}">
      <svg class="icon"><use xlink:href="/images/icons.svg#icon-{{ item.icon }}" /></svg>
      {{ item.title }}
    </a>
    {% endfor %}
  </nav>

  <div class="sidebar-item">
    <p>&copy; 1981-2018. All rights reserved.</p>
  </div>
</div>
