<ul>
	<li><a href="http://github.com/{{ site.github }}"><img alt="GitHub" src="/images/github.png"> GitHub</a></li>
	<li><a href="http://twitter.com/{{ site.twitter }}"><img alt="Twitter" src="/images/twitter.png"> Twitter</a></li>
	<li><a href="https://www.facebook.com/benedikt.meurer"><img alt="Facebook" src="/images/facebook.png"> Facebook</a></li>
	<li><a href="http://www.ohloh.net/accounts/bmeurer"><img alt="ohloh" src="/images/random.png"> ohloh</a></li>
	<li><a href="http://linkedin.com/in/benediktmeurer"><img alt="LinkedIn" src="/images/linkedin.png"> LinkedIn</a></li>
	<li><a href="{{ site.email }}"><img alt="Mail" src="/images/gmail.png"> Mail</a></li>
</ul>
