<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}/">
      <svg class="icon"><use xlink:href="/images/icons.svg#icon-home" /></svg>
      Home
    </a>

    {% for node in collections.all %}
      {% if node.data.title != null %}
        {% if node.data.layout == "page" %}
        <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">
          <svg class="icon"><use xlink:href="/images/icons.svg#icon-{{ node.data.icon }}" /></svg>
          {{ node.data.title }}
        </a>
        {% endif %}
      {% endif %}
    {% endfor %}

    {% if site.twitter %}
    <a class="sidebar-nav-item" href="https://twitter.com/{{ site.twitter }}">
      <svg class="icon"><use xlink:href="/images/icons.svg#icon-twitter" /></svg>
      Twitter
    </a>
    {% endif %}

    {% if site.github %}
    <a class="sidebar-nav-item" href="https://github.com/{{ site.github }}">
      <svg class="icon"><use xlink:href="/images/icons.svg#icon-github" /></svg>
      GitHub
    </a>
    {% endif %}
  </nav>

  <div class="sidebar-item">
    <p>
      &copy; {{ site.time | date: '%Y' }}. All rights reserved.
    </p>
  </div>
</div>
