<!--
  socialshareprivacy jQuery Plugin v1.2

  URL: http://www.heise.de/extras/socialshareprivacy
-->
<script src="/js/jquery.socialshareprivacy.min.js" type="text/javascript"></script>
<script type="text/javascript">
  jQuery(document).ready(function($){
    if($('#socialshareprivacy').length > 0){
      $('#socialshareprivacy').socialSharePrivacy({
        services : {
          facebook : {
              'perma_option': 'off',
              'status' : 'on',
              'language' : 'en',
              'dummy_img' : '/images/socialshareprivacy_facebook.png',
              'txt_fb_off' : 'not connected to Facebook',
              'txt_fb_on' : 'connected to Facebook',
              'txt_info' : '2 clicks for better data protection: Only when you click here, the button is active and you can send your recommendation on the selected social network. Even when you only enable it, data will be transferred to third parties - see <em>i</em> (German).',
          },
          twitter : {
              'perma_option': 'off',
              'status' : 'on',
              'language' : 'en',
              'dummy_img' : '/images/socialshareprivacy_twitter.png',
              'txt_twitter_off' : 'not connected to Twitter',
              'txt_twitter_on' : 'connected to Twitter',
              'txt_info' : '2 clicks for better data protection: Only when you click here, the button is active and you can send your recommendation on the selected social network. Even when you only enable it, data will be transferred to third parties - see <em>i</em> (German).',
          },
          gplus : {
              'perma_option': 'off',
              'status' : 'on',
              'language' : 'en',
              'dummy_img' : '/images/socialshareprivacy_gplus.png',
              'txt_gplus_off' : 'not connected to Google+',
              'txt_gplus_on' : 'connected to Google+',
              'txt_info' : '2 clicks for better data protection: Only when you click here, the button is active and you can send your recommendation on the selected social network. Even when you only enable it, data will be transferred to third parties - see <em>i</em> (German).',
          }
        },
        'cookie_domain' : 'benediktmeurer.de',
        'settings_perma' : 'Agree to activate the social buttons permanently',
        'css_path' : '/css/socialshareprivacy.css',
        'txt_help' : 'When you activate these fields by clicking, information on Facebook, Twitter and Google are transferred to the United States and may also be stored there. To learn more, click on the <em>i</em> (German).',
      });
    }
  });
</script>
