<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">

    <!-- Web App Manifest -->
    <link rel="manifest" href="/manifest.json">

    <!-- Theme color (red08 in Base16) -->
    <meta name="theme-color" content="#ac4142">

    <!-- Provide description for SEO -->
    <meta name="description" content="{{ site.description }}">

    <!-- Enable responsiveness on mobile devices-->
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>{{ renderData.title or title }} &middot; {{ site.title }}</title>

    {% if canonical %}
    <!-- Canonical URLs -->
    <link rel="canonical" href="{{ canonical }}">
    {% endif %}

    <!-- CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">

    <!-- Icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}/images/apple-touch-icon-precomposed.png">

    <!-- RSS -->
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ site.baseurl}}/feed.xml">

    <!-- JS -->
    <script defer src="/js/main.js"></script>
    <script defer src="/js/svgxuse.js" nomodule></script>  <!-- IE workaround for <svg><use xlink:href="..." /></svg> -->

    <!-- Google webmaster tools verification -->
    <meta name="google-site-verification" content="1gkRIROhZsIi5eq-oNYG1R73thPYUmsb7IIQpDpBiB0">
  </head>

  <body>
    <!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
        styles, `#sidebar-checkbox` for behavior. -->
    <input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

    <!-- Toggleable sidebar -->
    <aside class="sidebar" id="sidebar">
      <div class="sidebar-item">
        <p>{{ site.description }}</p>
      </div>

      <nav class="sidebar-nav">
        {%- for item in sidebar.items %}
        <a class="sidebar-nav-item{% if page.url == item.url %} active{% endif %}" href="{{ item.url }}">
          <svg class="icon"><use xlink:href="/images/icons.svg#icon-{{ item.icon }}" /></svg>
          {{ item.title }}
        </a>
        {% endfor %}
      </nav>

      <div class="sidebar-item">
        <p>&copy; {{site.copyright}}. All rights reserved.</p>
      </div>
    </aside>

    <!-- <main> is the content to shift when toggling the sidebar. We wrap
         the content to avoid any CSS collisions with our real content. -->
    <main>
      <header>
        <div class="container">
          <h3>
            <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
            <small>{{ site.tagline }}</small>
          </h3>
        </div>
      </header>

      <article class="container">
        {{ content | safe }}
      </article>

      <footer>
        <div class="container">
          <a href="/">Home</a>
          <a href="/about/">About</a>
          <a href="/archive/">Archive</a>
        </div>

        <div class="container">
          <a aria-label="GitHub" title="GitHub" href="https://github.com/{{site.github}}"><svg><use xlink:href="/images/icons.svg#icon-github" /></svg></a>
          <a aria-label="Twitter" title="Twitter" href="https://twitter.com/{{site.twitter}}"><svg><use xlink:href="/images/icons.svg#icon-twitter" /></svg></a>
          <a aria-label="LinkedIn" title="LinkedIn" href="https://linkedin.com/in/{{site.linkedin}}"><svg><use xlink:href="/images/icons.svg#icon-linkedin" /></svg></a>
          <a aria-label="RSS feed" title="RSS feed" href="/feed.xml"><svg><use xlink:href="/images/icons.svg#icon-feed" /></svg></a>
        </div>
      </footer>
    </main>

    <label for="sidebar-checkbox" class="sidebar-toggle"></label>
  </body>
</html>
