---
layout: default
---

<style>
a.button {
  color: #fff !important;
  background-color: #ac4142;
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  padding: 0.5em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  border: 1px solid #ac4142;
}
</style>

<div class="page">
  <h1><a href="https://github.com/{{ site.github }}/{{ github }}">{{ title }}</a></h1>

  {{ content | safe }}

  <h2 id="source-code">Source code <a class="bookmark" href="#license" aria-hidden="true">#</a></h2>

  <p>
    Available on GitHub:
    <a href="https://github.com/{{ site.github }}/{{ github }}">https://github.com/{{ site.github }}/{{ github }}</a>
  </p>

  <p>
    Download it in either <a href="https://github.com/{{ site.github }}/{{ github }}/zipball/master">zip</a>
    or <a href="https://github.com/{{ site.github }}/{{ github }}/tarball/master">tar</a> formats.
  </p>

  <p>
    Clone the project with <a href="https://git-scm.com">Git</a> by running:
  </p>

  <pre><code>git clone git://github.com/{{ site.github }}/{{ github }}.git</code></pre>

  <h2 id="bug-reports">Bug Reports <a class="bookmark" href="#license" aria-hidden="true">#</a></h2>

  <p>
    If you come across any problems, please create a <a
    href="https://github.com/{{ site.github }}/{{ github }}/issues">ticket</a>
    and we will try to get it fixed as soon as possible.
  </p>

  <p>
    <a class="button" href="https://github.com/{{ site.github }}/{{ github }}/issues/new">Report a Bug</a>
  </p>

  <h2 id="contributing">Contributing <a class="bookmark" href="#license" aria-hidden="true">#</a></h2>

  <p>
    Once you have made your commits:
  </p>

  <ol>
    <li><a href="https://help.github.com/fork-a-repo/">Fork</a> {{ github }}.</li>
    <li>Create a topic branch - <tt>git checkout -b my_branch</tt></li>
    <li>Push to your topic branch - <tt>git push origin my_branch</tt></li>
    <li>Create a <a href="https://help.github.com/pull-requests/">Pull Request</a> from your topic branch.</li>
    <li>That's it!</li>
  </ol>

  <p>
    <a class="button" href="https://github.com/{{ site.github }}/{{ github }}/fork">Fork {{ github }}</a>
  </p>

  <h2 id="copyright">Copyright<a class="bookmark" href="#license" aria-hidden="true">#</a></h2>

  <p>
    Copyright &copy; {{ copyright }} {{ site.author }}. See the
    <a href="https://github.com/{{ site.github }}/{{ github }}/raw/master/LICENSE">LICENSE</a>
    file for details.
  </p>
</div>
