<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <title>
    {{ site.title }}{%if page.title%} &raquo; {{ page.title }}{%endif%}
  </title>
  
  <!-- Site Author -->
  <meta name="author" content="{{ site.author }}" />
  
  <!-- Site Description -->
  <meta name="description" content="{{ site.description }}" />

  <!-- Site Viewport -->
  <meta name="viewport" content="user-scalable=no,width=device-width" />

  <!-- Google Site Verification -->
  <meta name="google-site-verification" content="1gkRIROhZsIi5eq-oNYG1R73thPYUmsb7IIQpDpBiB0" />

  <!-- Atom RSS Feed -->
  <link href="{{ site.atom }}" rel="alternate" title="{{ site.title }}" type="application/atom+xml" />

  <!-- Blog CSS -->
  <link type="text/css" rel="stylesheet" media="projection,screen" href="/css/screen.css" /> 
  <link type="text/css" rel="stylesheet" media="all" href="/css/custom.css" />

  <!-- Syntax Highlighting CSS -->
  <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

  <!-- Fav Icon -->
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" /> 

  <!-- jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js" type="text/javascript"></script>

  <!-- Webfont -->
  <script src="http://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js" type="text/javascript"></script>

  <!--[if lt IE 8]>
    <link type="text/css" rel="stylesheet" media="projection,screen" href="/css/ie.css" />
  <![endif]--> 
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <script type="text/javascript">
    WebFontConfig = {
      custom: {
        families: ['DroidSansRegular', 'YanoneKaffeesatzRegular'],
        urls: [ document.location.protocol + '//' + document.location.hostname + ':' + document.location.port + '/css/screen.css' ]
      }
    };
    (function() {
      document.getElementsByTagName("html")[0].className += " wf-loading";
      var wf = document.createElement('script');
      wf.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
      wf.type = 'text/javascript';
      wf.async = 'true';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(wf, s);
    })();
  </script>
</head>

<body>
  <div class="container">
    <header class="span-21 last" id="header">
      <h1><a href="/" rel="home bookmark">{{ site.title }}</a></h1>
    </header>

    <div class="span-16" id="content">
      {{ content }}
    </div>

    {% include sidebar.html %}
    {% include footer.html %}
  </div>
  {% include disqus.html %}
  {% include ga.html %}
</body>

</html>
