---
layout: default
---

<article class="post">
  <h3><a href="{{ page.url }}" rel="bookmark permalink" title="Permanent link to this post">{{ page.title }}</a></h3>

  {{ content }}

  {% include follow-box.html %}

  <div class="meta">
    <div class="published">
      Published: {{ page.date | date:'%Y-%m-%d' }}
    </div>
    <div class="tweet"><a href="http://twitter.com/?status=Reading '{{ page.title }}' from {{ site.url }}{{ page.url }} by @{{ site.twitter }}" title="Tweet {{ page.title }}">Tweet</a> &amp; <a class="permalink" href="{{ site.url }}{{ page.url }}" rel="bookmark permalink" title="Permalink for {{ page.title }}">Permalink</a>
  </div>
</article>

<div id="disqus_thread"></div>
<script type="text/javascript">
  var disqus_shortname = 'benediktmeurer';
  var disqus_url = '{{ site.url }}{{ page.url }}';
  (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>
