---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>

  <span class="post-date">
    <svg class="icon"><use xlink:href="/images/icons.svg#icon-calendar" /></svg>
    <a href="{{ page.url | prepend: site.baseurl }}" title="Permanent link to this post">{{ page.date | date_to_string }}</a>
  </span>

  <span class="post-tags">
    {% for tag in page.tags %}
      {% if forloop.first %}
        <svg class="icon"><use xlink:href="/images/icons.svg#icon-tags" /></svg>
      {% endif %}
      <a href="{{ site.baseurl }}/tags/{{ tag | cgi_escape }}" title="Blog posts tagged “{{ tag }}”" rel="tag">{{ tag }}</a>
      {% unless forloop.last %} &bull; {% endunless %}
    {% endfor %}
  </span>

  {% if page.canonical %}
  <span class="post-canonical">
    {% if page.coauthor %}
      This article was originally published <a href="{{ page.canonical }}" rel="noreferrer" target="_blank">here</a>,
      co-authored by <a href="{{ site.data.people[page.coauthor].url }}" rel="noreferrer"
      target="_blank">{{ site.data.people[page.coauthor].name }}</a>.
    {% else %}
      This article was originally published <a href="{{ page.canonical }}" rel="noreferrer" target="_blank">here</a>.
    {% endif %}
  </span>
  {% endif %}

  {{ content }}
</div>

<!-- Disqus -->
{% if site.disqus_shortname %}
<div class="comments">
  {% include disqus.html %}
</div>
{% endif %}
