---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>

  <span class="post-date">
    <i class="far fa-calendar-alt" title="Date published"></i> <a href="{{ page.url | prepend: site.baseurl }}" title="Permanent link to this post">{{ page.date | date_to_string }}</a>
  </span>

  <span class="post-tags">
    {% for tag in page.tags %}
      {% if forloop.first %}
        <i class="fas fa-tags" title="page tags"></i>
      {% endif %}
      <a href="{{ site.baseurl }}/tags/{{ tag | cgi_escape }}" title="Blog posts tagged “{{ tag }}”" rel="tag">{{ tag }}</a>
      {% unless forloop.last %} &bull; {% endunless %}
    {% endfor %}
  </span>

  {{ content }}
</div>

<!-- Disqus -->
{% if site.disqus_shortname %}
<div class="comments">
  {% include disqus.html %}
</div>
{% endif %}
