---
layout: default
title: Blog
pagination:
  data: collections.posts
  size: 10
---

<div class="posts">
  {%- for post in pagination.items %}
  <div class="post">
    <h1 class="post-title"><a href="{{ post.url }}">{{ post.data.title }}</a></h1>

    <span class="post-date">
      <svg class="icon"><use xlink:href="/images/icons.svg#icon-calendar" /></svg>
      <time itemprop="datePublished" content="{{ post.date | htmlDateString }}">{{ post.date | readableDateString }}</time>
    </span>

    {{ post.templateContent | htmlExcerpt | safe }}

    <a class="button" href="{{post.url}}">Continue reading &#8811;</a>
  </div>
  {%- endfor %}
</div>

{%- if pagination.pageLinks.length > 1 %}
<div class="pagination">
  {%- if pagination.nextPageHref %}
  <a class="pagination-item older" href="{{ pagination.nextPageHref }}">Older</a>
  {%- else %}
  <span class="pagination-item older">Older</span>
  {%- endif %}

  {%- if pagination.previousPageHref %}
  <a class="pagination-item newer" href="{{ pagination.previousPageHref }}">Newer</a>
  {%- else %}
  <span class="pagination-item newer">Newer</span>
  {%- endif %}
</div>
{%- endif %}
