---
layout: page
title: Tags
---

<ul>
  {%- for tag in collections.tagList %}
  <li>
    <a href="/tags/{{ tag | slug }}">{{ tag }}</a>
    ({{ collections[tag].length }})
  </li>
  {%- endfor %}
</ul>

{%- for tag in collections.tagList %}
<h2>Blog posts tagged “{{ tag }}”</h2>
{% set posts = collections[tag] | reverse %}
{% include "posts.njk" %}
{%- endfor %}
